services:
  backend:
    build: ./backend
    container_name: tecsim-backend
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
      EMAIL_USER: ${EMAIL_USER}
      EMAIL_PASS: ${EMAIL_PASS}
      API_KEY: ${API_KEY}
    networks:
      - app-network

  mobile:
    build: ./Mobile
    container_name: tecsim-mobile
    ports:
      - "8081:8081"   # Metro Bundler
      - "19000:19000" # Expo Go (LAN)
      - "19001:19001" # Debugger
      - "19002:19002" # Expo DevTools (web)
    volumes:
      - ./Mobile:/app
      - /app/node_modules 
    environment:
      API_KEY: ${API_KEY}
      GOOGLE_API_KEY: ${API_KEY}
      REACT_APP_GOOGLE_API_KEY: ${API_KEY}
      IP_HOST: backend
    stdin_open: true
    tty: true
    depends_on:
      - backend
    networks:
      - app-network

  web:
    build: ./Web
    container_name: tecsim-web
    ports:
      - "5173:5173"
    environment:
      VITE_GOOGLE_API_KEY: ${API_KEY}
      VITE_IP_HOST: tecsim-backend
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
